// Color Variables
$primary-color: #f4f8fa;
$secondary-color: #fff;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #000;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f4f8fa;
$navbar-text-color: #61717d;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
