{{ define "main" }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-50 content">
        <!--<img style="width: 10%; object-fit: cover;" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">-->
        {{ .Content }}
      </div>
    </div>
    
      
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
  </div>
</section>
<!-- /event single -->

<!-- more event -->


{{ end }}
